.header--mobile{
  width: 100%;
  position: relative;
  z-index: 5;
  padding: 15px;
  background-color: #612e73;
  .contacts{
    &--list{
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include phones{
        flex-direction: column;
        align-items: center;
      }
    }
    &--item{
      font-size: 15px;
      font-family: 'Averta-Regular', sans-serif;
      margin-bottom: 10px;
      color: $white;
      a{
        color: $white;
        font-family: 'Averta-Regular', sans-serif;
      }
      a:hover{
        color: $white;
      }
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: $white;
      }
    }
  }
}
.header{
  padding-top: 35px;
  position: absolute;
  width: 100%;
  z-index: 3;
  &::after{
    content: '';
    position: absolute;
    width: 113.3%;
    height: 600px;
    display: block;
    left: -6%;
    top: -126%;
    z-index: -1;
    box-shadow: 0 5px 9px 1px rgba(27, 27, 27, 0.37);
    border-radius: 100%;
    background-color: #612e73;
    background-image: url('/assets/images/header-bg.png');
    @include phones{
      height: 400px;
    }
  }
  *{
    color: $white;
  }
  &--opening{
    *{
      text-align: right;
    }
    p{
      @include adaptive-font(17,12);
      font-family: 'Averta-SemiBold', sans-serif;
      margin-bottom: 12px;
      @include tablets{
       text-align: center;
      }
    }
    h1{
      @include adaptive-font(33,24);
      font-family: 'Averta-Bold', sans-serif;
      span{
        font-family: 'Averta-Bold', sans-serif;
        color: #c28bd5;
      }
      @include tablets{
        text-align: center;
       }
    }
    .prescription{
      font-size: 37px;
      color: #c28bd5;
      text-transform: capitalize;
    }
  }
  &--logo{
    img{
      max-width: 312px;
      @include tablets{
        max-width: 156px;
      }
      @include phones{
        max-width: 80px;
       }
    }
  }
  .contacts{
    *{
      text-align: right;
    }
    &--list{

    }
    &--item{
      font-size: 15px;
      font-family: 'Averta-Regular', sans-serif;
      margin-bottom: 18px;
      a{
        font-family: 'Averta-Regular', sans-serif;
      }
      a:hover{
        color: $white;
      }
      img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: $white;
      }
    }
  }
}