//- src/views/components/footer.pug

footer.footer
  .footer--container.container
    .footer--content
      .footer--img
        img(src="/assets/images/10.svg")
      .footer--info
        .name Сеть современных супермаркетов
        .address
          img(src="/assets/images/placeholder.svg")
          span Новороссийск, катанова 1г
        .policy
          span Данный сайт не является офертой &nbsp |   
          a(href="/") &nbsp Политика конфиденциальности
      .footer--contacts
        .phone
          img(src="/assets/images/phone-call.svg")
          span 8 (800) 000 - 00 - 000
        .email
          img(src="/assets/images/envelope.svg")
          span kis@kis.ru
