mixin menu(currentPage)
  .header--mobile.d-flex.d-lg-none
        ul.contacts--list
          li.contacts--item 
            img(src="/assets/images/placeholder.svg", alt="")
            | Новороссийск, катанова 1г
          li.contacts--item 
            img(src="/assets/images/phone-call.svg", alt="")
            a(href="tel:880000000000") 8 (800) 000 - 00 - 000 
          li.contacts--item
            img(src="/assets/images/envelope.svg", alt="")
            a(href="mailto:kis@kis.ru") kis@kis.ru 
  header.header
    .header--container.container.row
      .header--opening.col-12.col-lg-4 
        p Сеть современных супермаркетов
        h1 Открытие 
          span 21 марта
        p.prescription.d-none.d-xl-block Будет интересно!
      .header--logo.col-lg-4.d-flex.justify-content-center
        img(src="/assets/images/12.svg", alt="")
      .header--contacts.contacts.col-lg-4.d-none.d-lg-flex
        ul.contacts--list
          li.contacts--item 
            img(src="/assets/images/placeholder.svg", alt="")
            | Новороссийск, катанова 1г
          li.contacts--item 
            img(src="/assets/images/phone-call.svg", alt="")
            a(href="tel:880000000000") 8 (800) 000 - 00 - 000 
          li.contacts--item
            img(src="/assets/images/envelope.svg", alt="")
            a(href="mailto:kis@kis.ru") kis@kis.ru 